<div class="body">
<div class="container">
    <div class="sidebar">
        <div class="head">
            <div class="user-img">
                <a href="https://www.ifms.edu.br/"><img src="./assets/ifgrande.png" alt="logoifm"></a>
            </div>
            <div class="user-details">
                <p class="title">Três Lagoas</p>
                <p class="name">Instituto Federal</p>
            </div>
        </div>
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li>
                        <a href="#">
                            <i class='icon bx bx-home'></i>
                          <span class="text">Dashboard</span>  
                        </a>
                    </li>
                    <li>

                        <a href="#">
                            <i class='icon bx bx-user'></i>
                          <span class="text">Audience</span> 
                          <i class='arrow bx bx-chevron-down'></i>
                        </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">
                                <span class="text">User</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Subscriber</span>
                            </a>
                        </li>
                    </ul>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class='icon bx bx-file' ></i>
                          <span class="text">Posts</span>  
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='icon bx bx-calendar-alt' ></i>
                          <span class="text">Scherdules</span>  
                        </a>
                    </li>
                    <li>

                        <a href="#">
                            <i class='icon bx bx-bar-chart-square' ></i>
                          <span class="text">Income</span> 
                          <i class='arrow bx bx-chevron-down'></i>
                        </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">
                                <span class="text">Earnings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Declines</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Payouts</span>
                            </a>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>