<div class="header">
    <div class="logo">
        <a href="https://www.ifms.edu.br/"><img src="./assets/logoifm.jpg" alt="logoifm"></a>
    </div>
</div>
<div class="container">
    <div class="main-login">
        <div class="left-login">
            <i class='bx bx-book-open'></i>
            <h1>
                Biblioteca Virtual 
                De Artigos Cientificos
            </h1>

        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Acesso à plataforma:</h1>
                <div class="textfield">  
                    <label for="usuario">Identificação de usuário:</label>
                    <input  type="text" name="usuario" placeholder="Identificação de usuário">
                </div>
                <div class="textfield">
                    <label for="usuario">Senha:</label>
                    <input  type="password" name="senha" placeholder="Senha">
                </div>
                <button class="bnt-login">Acessar</button>
                <div class="mis"><a href="#">Esqueceu o seu usuário ou senha?</a></div>
                <button class="bnt-login1">Acessar como visitante</button>
            </div>
            
        </div>
    </div>
</div>